<div class="container">
  <div class="produto">
      <a href=""></a>
    <div class="descrição">
      <div class="img">
        <img src="/assets/banana.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="produto">
      <a href=""></a>
    <div class="descrição">
      <div class="img">
        <img src="/assets/maca.png" alt="">
      </div>
    </div>
  </div>

  <div class="produto">
      <a href=""></a>
    <div class="descrição">
      <div class="img">
        <img src="/assets/alho.png" alt="">
      </div>
    </div>
  </div>

  <div class="produto">
      <a href=""></a>
    <div class="descrição">
      <div class="img">
        <img src="/assets/berinjela.png" alt="">
      </div>
    </div>
  </div>

  <div class="produto">
      <a href=""></a>
    <div class="descrição">
      <div class="img">
        <img src="/assets/mandioquinha.jpg" alt="">
      </div>
    </div>
  </div>

</div>

<div class="container">
    <div class="produto">
        <a href=""></a>
      <div class="descrição">
        <div class="img">
          <img src="/assets/cebola.jpg" alt="">
        </div>
      </div>
    </div>
  
    <div class="produto">
        <a href=""></a>
      <div class="descrição">
        <div class="img">
          <img src="/assets/cenoura.jpg" alt="">
        </div>
      </div>
    </div>
  
    <div class="produto">
        <a href=""></a>
      <div class="descrição">
        <div class="img">
          <img src="/assets/couve.jpg" alt="">
        </div>
      </div>
    </div>
  
    <div class="produto">
        <a href=""></a>
      <div class="descrição">
        <div class="img">
          <img src="/assets/espinafre.jpg" alt="">
        </div>
      </div>
    </div>
  
    <div class="produto">
        <a href=""></a>
      <div class="descrição">
        <div class="img">
          <img src="/assets/cebolinha.jpg" alt="">
        </div>
      </div>
    </div>
  
  </div>

  <div class="container">
      <div class="produto">
          <a href=""></a>
        <div class="descrição">
          <div class="img">
            <img src="/assets/alho-poro.jpg" alt="">
          </div>
        </div>
      </div>
    
      <div class="produto">
          <a href=""></a>
        <div class="descrição">
          <div class="img">
            <img src="/assets/beterraba.jpg" alt="">
          </div>
        </div>
      </div>
    
      <div class="produto">
          <a href=""></a>
        <div class="descrição">
          <div class="img">
            <img src="/assets/batata-doce.jpg" alt="">
          </div>
        </div>
      </div>
    
      <div class="produto">
          <a href=""></a>
        <div class="descrição">
          <div class="img">
            <img src="/assets/batata.jpg" alt="">
          </div>
        </div>
      </div>
    
      <div class="produto">
          <a href=""></a>
        <div class="descrição">
          <div class="img">
            <img src="/assets/abobrinha.jpg" alt="">
          </div>
        </div>
      </div>
    
    </div>